<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Amarante&family=Aref+Ruqaa:wght@700&family=Bakbak+One&family=Baloo+Chettan+2:wght@500&family=Metamorphous&family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="assets/css/profile.css" /> -->
    <link rel="stylesheet" href="/static/css/profile.css" />
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/movies/home">MovieHive</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="0" class="nav-link" href="/profile"
              >Profile<i class="fas fa-user"></i
            ></a>
          </li>
          <li class="nav-item">
            <a id="tab_logout" class="nav-link" href="#">Logout</a>
          </li>
          <!-- <li class="nav-item">
            <a id="a_signIn" class="nav-link" href="/index#signIn">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index#signUp">Sign Up</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <div class="container_1">
      <div id="container_2" style="margin-top: 5%">
        <h1>My Profile</h1>
      </div>
      <div class="container_3">
        <form id="profile_form">
          <div id="container_4">
            <div class="field_container">
              <label for="id">User ID :</label>
              <input
                type="text"
                class="form-control"
                id="id"
                name="id"
                disabled
              />
            </div>

            <div class="field_container">
              <label for="name">Name :</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter name"
              />
            </div>

            <div class="field_container">
              <label for="email">Email :</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
              />
            </div>

            <div class="field_container">
              <label for="pwd">Password :</label>
              <input
                type="password"
                class="form-control"
                id="pwd"
                name="pwd"
                placeholder="Enter new password"
              />
            </div>

            <div class="field_container">
              <label for="address">Address :</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                placeholder="Enter address"
              />
            </div>

            <div class="field_container">
              <label for="contact">Contact :</label>
              <input
                type="text"
                class="form-control"
                id="contact"
                name="contact"
                placeholder="Enter contact number"
              />
            </div>
            <br />

            <!-- <div class="field_container">
              <label for="profile-pic">Profile Picture :</label>
              <input
                type="file"
                id="profile-pic"
                name="profile-pic"
                onchange="loadImage(event)"
              /><br /><br />
              <img
                id="preview-image"
                src="#"
                alt="Preview Image"
                style="display: none; width: 200px; height: 200px"
              />
            </div> -->
            <!-- <br /> -->
            <div id="btn_container">
              <input id="btnCancel" type="button" value="Cancel" />
              <input id="btnSaveChanges" type="button" value="Save Changes" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- <script src="assets/js/profile.js"></script> -->
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/server_index.js"></script>
    <script src="/static/js/profile.js"></script>
  </body>
</html>
